extends blocks/base.pug
block title
    | Барбершоп "Бородинский"

block content
    // main-logo
    div(class="main-logo") !{main_logo}
    
    // advantage
    ul(class="advantage")
        li(class="advantage__item")
            h3(class="advantage__title") Быстро
            p МЫ ДЕЛАЕМ СВОЮ РАБОТУ БЫСТРО! ДВА ЧАСА ПРОЛЕТЯТ НЕЗАМЕТНО И ВЫ — СЧАСТЛИВЫЙ ОБЛАДАТЕЛЬ СТИЛЬНОЙ СТРИЖКИ-МИНУТКИ!
        li(class="advantage__item")
            h3(class="advantage__title") Круто
            p ЗАБУДЬТЕ, КАК ВЫ СТРИГЛИСЬ РАНЬШЕ. МЫ СДЕЛАЕМ ИЗ ВАС ЗВЕЗДУ ФУТБОЛА ИЛИ КИНО! ВО ВСЯКОМ СЛУЧАЕ ВНЕШНЕ.
        li(class="advantage__item")
            h3(class="advantage__title") Дорого
            p НАШИ МАСТЕРА — ПРОФЕССИОНАЛЫ СВОЕГО ДЕЛА И НЕ МОГУТ СТОИТЬ ДЕШЕВО. К ТОМУ ЖЕ, РАЗВЕ ЦЕНА НЕ ДАЕТ ОПРЕДЕЛЕНЫЙ СТАТУС?

    div(class="wrap-section")
        // news
        section(class="news section")
            h2(class="subtitle") Новости
            div(class="news__item")
                p НАМ НАКОНЕЦ ЗАВЕЗЛИ ЯГЕРМАЙСТЕР! ТЕПЕРЬ ВЫ МОЖЕТЕ ПРОПУСТИТЬ СТАКАНЧИК ВО ВРЕМЯ СТРИЖКИ
                time(class="time" datetime="2018-01-11") 11 января
            div(class="news__item")
                p В НАШЕЙ КОМАНДЕ ПОПОЛНЕНИЕ, БОРИС «БРИТВА» СТРИГУНЕЦ, ОБЛАДAТЕЛЬ МНОЖЕСТВА ТИТУЛОВ И НАГРАД ПОПОЛНИЛ НАШИ СТРОЙНЫЕ РЯДЫ
                time(class="time" datetime="2018-01-18") 18 января
            a(class="btn" href="#") все новости
            
        // gallery
        section(class="gallery section")
            h2(class="subtitle") Фотогалерея
            div(class="gallry__wrap")
                img(src="img/gallery/foto_01.jpg", alt="фото салона")
            div(class="btn-group")
                span(class="btn prev") назад
                span(class="btn next") вперед
        
    div(class="wrap-section")
        // contacts inform
        section(class="contacts section")
            h2(class="subtitle") Контактная информация
            div(class="adress")
                p Барбершоп "Бородинский"
                p Адрес:г.Санкт-Петербург,ул.Б.Конюшенная,д.19/8
                p Телефон: 
                    a(href="#") +7 (495) 66-02-66
            div(class="time-work")
                p время работы:
                p пн-пт: с 10:00 до 22:00
                p сб-вс: с 10:00 до 19:00
            div(class="btn-group")
                a(class="btn" href="#") как проехать
                a(class="btn" href="#") обратная связь
        
        // form
        div(class="section form")
            h2(class="subtitle") Записаться
            form(action="" method="post")
                fieldset(class="form__wrap")
                    legend(class="form__title") Укажите желаемую дату и время и мы свяжемся с вами для подтверждения брони
                    div(class="form__row")
                        div(class="form__col")
                            label дата
                            input(type="text" value="08.10.2017")
                        div(class="form__col")
                            label время
                            input(type="text" value="10:00")
                    div(class="form__row")
                        div(class="form__col")
                            label ваше имя
                            input(type="text" placeholder="Борода")
                        div(class="form__col")    
                            label телефон
                            input(type="text" placeholder="Ваш номер")
                    input(type="submit" value="Отправить")
