.footer {
  background-image: url('../img/bg/bg-footer.png');
  padding: 62px 0 43px;

  &__wrap {
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.social-icon {
  text-align: center;
  justify-self: center;
  &__list {
    display: flex;
  }

  &__item {
    margin: 20px 6px 0;
  }

  &__link {
    width: 43px;
    height: 43px;
    display: flex;
    background-color: #000;

    img {
      margin: auto;
    }
  }
}