.form {
  width: 50%;
  padding-left: 87px;

  &__text {
    margin-bottom: 20px;
  }
  
  &__row {
    display: flex;
  }

  &__elem {
    width: 100%;
  }

  & label {
    display: block;
    line-height: 1;
    padding-left: 17px;
    margin-bottom: 10px;
  }

  & input {
    margin-bottom: 12px;
  }
  .btn {
    width: 100%;
    border: none;
    font: inherit;

    color: #fff;
  }
}