include contents.pug
include svg.pug
include mixins.pug

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        link(rel="stylesheet" href="css/normalise.css")
        block linkStyle
            link(rel="stylesheet" href="css/style.css")
        title
            block title
    body
        // header
        header(class="header")
            // navigation
            nav(class="container nav")
                a(class="logo" href="/")
                    img(src="img/logo/logo.svg" alt="Логотип Барбершоп Бородинский")
                +list("nav-list", nav, "nav")

                a(class="login" href="#") !{login}вход
        // main-content
        main(class="container main")
            block content
        
        // footer
        footer(class="footer")
            div(class="container")
                div(class="adress")
                    p Барбершоп "Бородинский"
                    p Адрес:г.Санкт-Петербург,ул.Б.Конюшенная,д.19/8
                    p
                        a(class="footer__link" href="#") Как нас найти?
                    p Телефон: 
                        a(href="#") +7 (495) 66-02-66

                div(class="social") Давайте дружить!
                    +list("soc-icon", social_icons, "svg")

                div(class="copirait") 
                    p Сделанно: 
                    a(class="btn" href="https://webklim.ru") webklim.ru


