//- навигация меню
-
 var nav = {
    'Информация': '/info.html',
    'Новости': '/news.html',
    'Прайс-лист': '/price.html',
    'Магазин': '/store.html',
    'Контакты': '/contacts.html'};

-
 var cosmetic = [
    'BAXTER OF CALIFORNIA',
    'MR NATTY',
    'SUAVECITO',
    'MALIN+GUETZ'
    ];

-
 var product = [
    'Средсво для умывания (50 мл)',
    'Увлажняющий крем (50 мл)',
    'Крем для бритья (50 мл)',
    'Крум после бритья, шампунь (50 мл)',
    'Удобная кожаная косметичка'
 ];

-
 var cards = [
    {
        'title': 'Набор для путешествий',
        'name': '"Baxter of california"',
        'price': '2 900',
        'src': 'card_01'
    },
    {
        'title': 'Увлажняющий кондиционер',
        'name': '"Baxter of california"',
        'price': '750',
        'src': 'card_02'
    },
    {
        'title': 'Гель для волос',
        'name': '"Suavecito"',
        'price': '290',
        'src': 'card_03'
    },
    {
        'title': 'Глина для укладки волос',
        'name': '"American crew"',
        'price': '500',
        'src': 'card_04'
    },
    {
        'title': 'Гель для волос',
        'name': '"American crew"',
        'price': '300',
        'src': 'card_05'
    },
    {
        'title': 'Набор для бритья',
        'name': '"Baxter of california"',
        'price': '3 900',
        'src': 'card_06'
    },

 ];

- var manufacturer = ["Baxter of california", "mr Natty", "Suavecito", "Malin+Goetz", "Murary's"];
